<div>
  <div data-content-item-id="{{$metadata.id}}" data-wch-editable="{{$metadata.accessor}}">Embedded</div>
  {{{embedded.$markup}}}

  <div data-content-item-id="{{ref.$metadata.id}}">Referenced</div>
  {{{ref.$markup}}}
</div>
