dist/
coverage/
lint/
node_modules/
out-tsc/
debug.log
npm-debug.log
src/**/*.js
!src/demo/systemjs.config.js
!src/demo/systemjs.config.lib.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
.history/
package-lock.json
yarn.lock
*.$gen
shrinkwrap.yaml
yarn-error.log
*.idea
pnpm-lock.yaml

.history
temp
test.result.json
