<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light">
      <li class="breadcrumb-item" *ngFor="let crumb of breadcrumb$ | async">
        <a
          [routerLink]="crumb.descriptor.canonicalpath"
          (click)="$event.preventDefault()"
          href="#"
          >{{ crumb.$metadata.name }}</a
        >
      </li>
      <li
        *ngIf="currentPage$ | async as currentPage"
        class="breadcrumb-item active"
      >
        {{ currentPage.$metadata.name }}
      </li>
    </ol>
  </nav>
